<div class="pageTitle">
  <h1>New <%= @contact.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @contact.object %>"/>
    <ul>
      
          <li>
            <label for="contact[contactFullName]" class="fieldLabel">Contactfullname</label>
            <input type="text" name="contact[contactFullName]" <%=
            placeholder("Contactfullname") %> />
          </li>
      
          <li>
            <label for="contact[workPhone]" class="fieldLabel">Workphone</label>
            <input type="text" name="contact[workPhone]" <%=
            placeholder("Workphone") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>