<div class="pageTitle">
  <h1>New <%= @product.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @product.object %>"/>
    <ul>
      
          <li>
            <label for="product[name]" class="fieldLabel">Name</label>
            <input type="text" name="product[name]" <%=
            placeholder("Name") %> />
          </li>
      
          <li>
            <label for="product[brand]" class="fieldLabel">Brand</label>
            <input type="text" name="product[brand]" <%=
            placeholder("Brand") %> />
          </li>
      
          <li>
            <label for="product[price]" class="fieldLabel">Price</label>
            <input type="text" name="product[price]" <%=
            placeholder("Price") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>