<div id="pageTitle">
	<h1><%= @person.name%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Back", :action => :index %></div>
    <div id="rightItem" class="blueButton"><%= link_to "Edit", :action => :edit, :id => @person.object %></div>
</div>

<div id="content">
    <ul>
        
        <li>
            <div class="itemLabel">Name</div>
            <div class="itemValue"><%= @person.name%></div>
        </li>
        
        <li>
            <div class="itemLabel">Age</div>
            <div class="itemValue"><%= @person.age%></div>
        </li>
        
    </ul>
</div>