

  <header>
    <h1>Edit <%= @product.name %></h1>
    <a href="<%= url_for :action => :show, :id => @product.object %>" class="button" style="float:left;">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @product.object %>" class="button" style="float:right;">
      Delete
    </a>
  </header>

    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @product.object %>"/>
      
          <div>
            <label for="product[name]" class="fieldLabel">Name</label>
            <input class="jq-ui-forms" type="text" id="product[name]" name="product[name]" value="<%= @product.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
          <div>
            <label for="product[brand]" class="fieldLabel">Brand</label>
            <input class="jq-ui-forms" type="text" id="product[brand]" name="product[brand]" value="<%= @product.brand %>" <%= placeholder( "Brand" ) %> />
          </div>
      
          <div>
            <label for="product[price]" class="fieldLabel">Price</label>
            <input class="jq-ui-forms" type="text" id="product[price]" name="product[price]" value="<%= @product.price %>" <%= placeholder( "Price" ) %> />
          </div>
      
          <div>
            <label for="product[quantity]" class="fieldLabel">Quantity</label>
            <input class="jq-ui-forms" type="text" id="product[quantity]" name="product[quantity]" value="<%= @product.quantity %>" <%= placeholder( "Quantity" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
 