<div class="pageTitle">
  <h1>Edit <%= @saccount.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @saccount.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @saccount.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @saccount.object %>"/>
    <ul>
      
          <li>
            <label for="saccount[name]" class="fieldLabel">Name</label>
            <input type="text" name="saccount[name]" value="<%= @saccount.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="saccount[phone]" class="fieldLabel">Phone</label>
            <input type="text" name="saccount[phone]" value="<%= @saccount.phone %>" <%= placeholder( "Phone" ) %> />
          </li>
      
          <li>
            <label for="saccount[website]" class="fieldLabel">Website</label>
            <input type="text" name="saccount[website]" value="<%= @saccount.website %>" <%= placeholder( "Website" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>