<div id="pageTitle">
	<h1>Edit <%= @product.name%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :show, :id => @product.object %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Delete", :action => :delete, :id => @product.object %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
            <input type="hidden" name="id" value="<%= @product.object %>"/>
            <ul>
                
                <li>
                    <label for="product[name]" class="fieldLabel">Name</label>
                    <input type="text" name="product[name]" value="<%= @product.name%>" <%= placeholder( "Name" ) %> />
                </li>
                
                <li>
                    <label for="product[price]" class="fieldLabel">Price</label>
                    <input type="text" name="product[price]" value="<%= @product.price%>" <%= placeholder( "Price" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>