<div id="pageTitle">
	<h1>Edit <%= @station.name%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :show, :id => @station.object %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Delete", :action => :delete, :id => @station.object %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
            <input type="hidden" name="id" value="<%= @station.object %>"/>
            <ul>
                
                <li>
                    <label for="station[name]" class="fieldLabel">Name</label>
                    <input type="text" name="station[name]" value="<%= @station.name%>" <%= placeholder( "Name" ) %> />
                </li>
                
                <li>
                    <label for="station[abbr]" class="fieldLabel">Abbr</label>
                    <input type="text" name="station[abbr]" value="<%= @station.abbr%>" <%= placeholder( "Abbr" ) %> />
                </li>
                
                <li>
                    <label for="station[address]" class="fieldLabel">Address</label>
                    <input type="text" name="station[address]" value="<%= @station.address%>" <%= placeholder( "Address" ) %> />
                </li>
                
                <li>
                    <label for="station[city]" class="fieldLabel">City</label>
                    <input type="text" name="station[city]" value="<%= @station.city%>" <%= placeholder( "City" ) %> />
                </li>
                
                <li>
                    <label for="station[county]" class="fieldLabel">County</label>
                    <input type="text" name="station[county]" value="<%= @station.county%>" <%= placeholder( "County" ) %> />
                </li>
                
                <li>
                    <label for="station[state]" class="fieldLabel">State</label>
                    <input type="text" name="station[state]" value="<%= @station.state%>" <%= placeholder( "State" ) %> />
                </li>
                
                <li>
                    <label for="station[zip]" class="fieldLabel">Zip</label>
                    <input type="text" name="station[zip]" value="<%= @station.zip%>" <%= placeholder( "Zip" ) %> />
                </li>
                
                <li>
                    <label for="station[entering]" class="fieldLabel">Entering</label>
                    <input type="text" name="station[entering]" value="<%= @station.entering%>" <%= placeholder( "Entering" ) %> />
                </li>
                
                <li>
                    <label for="station[lockers]" class="fieldLabel">Lockers</label>
                    <input type="text" name="station[lockers]" value="<%= @station.lockers%>" <%= placeholder( "Lockers" ) %> />
                </li>
                
                <li>
                    <label for="station[parking]" class="fieldLabel">Parking</label>
                    <input type="text" name="station[parking]" value="<%= @station.parking%>" <%= placeholder( "Parking" ) %> />
                </li>
                
                <li>
                    <label for="station[bikeracks]" class="fieldLabel">Bikeracks</label>
                    <input type="text" name="station[bikeracks]" value="<%= @station.bikeracks%>" <%= placeholder( "Bikeracks" ) %> />
                </li>
                
                <li>
                    <label for="station[lat]" class="fieldLabel">Lat</label>
                    <input type="text" name="station[lat]" value="<%= @station.lat%>" <%= placeholder( "Lat" ) %> />
                </li>
                
                <li>
                    <label for="station[long]" class="fieldLabel">Long</label>
                    <input type="text" name="station[long]" value="<%= @station.long%>" <%= placeholder( "Long" ) %> />
                </li>
                
                <li>
                    <label for="station[intro]" class="fieldLabel">Intro</label>
                    <input type="text" name="station[intro]" value="<%= @station.intro%>" <%= placeholder( "Intro" ) %> />
                </li>
                
                <li>
                    <label for="station[cross]" class="fieldLabel">Cross</label>
                    <input type="text" name="station[cross]" value="<%= @station.cross%>" <%= placeholder( "Cross" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>